<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>eduVPN</title>
  <link rel="stylesheet" type="text/css" href="/eduVPN/css/eduVPN.css">
</head>

<body>
    <div id="container">
        <h1>eduVPN</h1>
        <p>
            To get the VPN working you need to perform two steps:
            <ol>
                <li>Download the OpenVPN application for your device</li>
                <li>Download the configuration file and import it in the application</li>
            </ol>

        <h2>Application</h2>
        <ul>
            <li><a href="https://play.google.com/store/apps/details?id=de.blinkt.openvpn">Google Android</a> (OpenVPN for Android)</li>
            <li><a href="https://itunes.apple.com/us/app/openvpn-connect/id590379981">Apple iOS</a> (OpenVPN Connect)</li>
            <li><a href="https://openvpn.net/index.php/open-source/downloads.html">Windows</a> (OpenVPN Community Download)</li>
            <li><a href="https://code.google.com/p/tunnelblick/">OS X</a> (tunnelblick)</li>
        </ul>

        <h2>Configuration</h2>
        <p>You can download the configuration &quot;<strong>{{ configName|e }}</strong>&quot; in <tt>OVPN</tt> format and import it in your OpenVPN client.</p>
        <p class="warn">You can only download a configuration once. Create a new one for your other devices.</p>
        <a href="{{ configName|e}}/ovpn"><button>Download Configuration</button></a>


        <p><a href="../">Back to configurations...</a></p>
    </div> <!-- /container -->
</body>
</html>
