<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>eduVPN</title>
  <link rel="stylesheet" type="text/css" href="/eduVPN/css/eduVPN.css">
</head>

<body>
    <div id="container">
        <h1>eduVPN</h1>
        <p>Welcome to the eduVPN portal. Here you can manage your VPN configurations.</p>
        <p class="warn">
This software is <strong>EXPERIMENTAL</strong>, <strong>NOT SUPPORTED</strong> and does not offer <strong>ANY</strong> guarantees.
        </p>

        <h2>New</h2>
        <p>Enter a name, e.g. &quot;Phone&quot;, for the configuration in the box below and click
           &quot;<em>Create</em>&quot;. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
        </p>

        <form method="post">
            <input type="text" name="name" placeholder="Name..." required pattern="[a-zA-Z0-9-_.@]+">
            <input type="submit" value="Create">
        </form>

        {% if vpnConfigurations %} <!-- existing configurations -->
        <h2>Existing</h2>
        <p>If you lost your device or no longer use the VPN you can click &quot;<em>Revoke</em>&quot;.</p>
        <table>
            <thead>
                <tr><th>Config</th><th>Action</th></tr>
            </thead>
            <tbody>
            {% for config in vpnConfigurations %}
                <tr>
                    <td><span title="{{ config.name|e }}">{{ config.name|e|truncate(12) }}</span></td>
                    <td>
                    {% if config.status == 30 %} <!-- revoked -->
                            <button disabled="disabled">Download</button>
                            <button disabled="disabled">Revoke</button>
                    {% elseif config.status == 20 %} <!-- active -->
                            <button disabled="disabled">Download</button>
                            <form method="post" action="{{ config.name|e }}">
                                <input type="hidden" name="_METHOD" value="DELETE">
                                <input type="submit" value="Revoke">
                            </form>
                    {% else %}
                            <form method="get" action="{{ config.name|e }}">
                                <input type="submit" value="Download">
                            </form>
                            <button disabled="disabled">Revoke</button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %} <!-- /existing configurations -->

    </div> <!-- /container -->
</body>
</html>
