module openvpn-allow-ca-read 1.0;

require {
    type openvpn_t;
    type httpd_sys_rw_content_t;
    class dir search;
    class file { read open };
}

#============= openvpn_t ==============
allow openvpn_t httpd_sys_rw_content_t:dir search;
allow openvpn_t httpd_sys_rw_content_t:file { read open };
