module vpn-management 1.1;

require {
	type openvpn_t;
	type openvpn_var_lib_t;
	type httpd_t;
	type httpd_sys_rw_content_t;
	class dir { search getattr };
	class file { getattr read lock open };
}

#============= httpd_t ==============
allow httpd_t openvpn_var_lib_t:file { read lock getattr open };

#============= openvpn_t ==============
allow openvpn_t httpd_sys_rw_content_t:dir { search getattr };
allow openvpn_t httpd_sys_rw_content_t:file { read getattr open };
